@use "variaveis" as v;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin section-padding {
  padding: v.$padding-section 10vw;
}

@mixin responsive($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}